<ul>
{% for post in posts %}
    <li class="post" indent="{{post.level}}">
        <div class="user">
            {{post.author_username}}
            {% if next.level == 4 %}
                <input type="checkbox" form="codeform" name="target_{{post.mongoid}}" value="{{post.mongoid}}">
            {% endif %}
        </div>
        {% if post.level == 1 %}
            <em>Top-level post</em>
            <br>
        {% elif post.level == 2 %}
            <em>Main reply</em>
            <br>
        {% endif %}
        <br>
        {{post.body.decode(encoding='UTF-8', errors='ignore')}}
    </li>
{% endfor %}
</ul>
