body {
  font-family: 'Helvetica Neue';
  font-size: 10pt;
}
.border {
  border-style: dashed;
  border-width: thin;
  border-color: lightgray;
  border-radius: 4px;
}
.headings {
  text-align: left;
  font-style: italic;
  font-weight: normal;
}
.post {
  width: 66%;
  margin: 1px;
  padding: 5px;
  height: auto;
  border-style: dashed;
  border-width: thin;
  border-color: lightgray;
  border-radius: 4px;
  background-color: ghostwhite;
}
.commentbox {
  width: 500px;
  padding: 5px;
  height: auto;
  border-style: dashed;
  border-width: thin;
  border-color: lightgray;
  border-radius: 4px;
  background-color: ghostwhite;
}
.annotatethread {
  margin-left: 5%;
}
.codebox {
  margin-left: 2%;
  width: 66%;
}
h2 {
  text-align: center;
  text-align: left;
  font-style: italic;
  font-weight: normal;
}
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  font-style: italic;
  font-weight: normal;
}
.user {
  font-size: 16px;
  font-weight: bold;
}
ul {
  padding-left: 1%;
  list-style-type: none;
}
li[indent="1"] {
  margin-left: 1%;
}
li[indent="2"] {
  margin-left: 2%;
}
li[indent="3"] {
  margin-left: 3%;
}
li[indent="4"] {
  margin-left: 4%;
}
input[type=submit] {
  font-family: 'Helvetica Neue';
  font-size: 11pt;
}
h1 {
  text-align: center;
  font-family: cursive;
  font-size: 18pt;
  font-style: oblique;
  font-weight: normal;
  border-style: dashed;
  border-width: thin;
  border-color: lightgray;
  border-radius: 4px;
  margin: -0.5em -2em 0.67em -2em;
  background-color: ghostwhite;
  opacity: 1.0;
}
h1 a {
  text-decoration: none;
  color: black;
}
textarea {
  width: 200px;
  height: 100px;
}
.messages {
  border-style: dashed;
  border-width: thin;
  border-color: lightgray;
  border-radius: 4px;
  margin-top: -1.5em;
  padding-top: 0.5em;
}
.messages li {
  font-size: 8pt;
}
