.post {
    width: 500px;
    margin: 5px;
    padding: 5px;
    height: auto;

    border-style: dashed;
    border-width: thin;
    border-color: lightgray;
    border-radius: 4px;

    background-color: ghostwhite;
}

.commentbox {
    width: 500px;
    margin: 5px;
    padding: 5px;
    height: auto;

    border-style: dashed;
    border-width: thin;
    border-color: lightgray;
    border-radius: 4px;

    background-color: ghostwhite;
}

body {
    font-family: 'Helvetica Neue';
    font-size: 10pt;
}

input[type=submit] {
    font-family: 'Helvetica Neue';
    font-size: 11pt;
}

h1 {
    text-align: center;

    font-family: cursive;
    font-size: 18pt;
    font-style: oblique;
    font-weight: normal;

    border-style: dashed;
    border-width: thin;
    border-color: lightgray;
    border-radius: 4px;

    margin: -0.5em -2em 0.67em -2em;

    background-color: ghostwhite;
}

h1 a {
    text-decoration: none;
    color: black;
}

h2, h3, h4, h5, h6 .commentbox {
    text-align: center;
    font-style: italic;
    font-weight: normal;
}
