{% extends "annotator.html" %}
{% block title %}Admin{% endblock %}
{% block body %}
	<h2>Users</h2>
	<ul class="users">
		{% for user in users %}
		<li>({{ user.id }}) <em>{{ user.username }}</em>: {{ user.first_name }} {{ user.last_name }}{% if user.superuser %} -- <em>admin</em>{% endif %}</li>
		{% else %}
		<em>No users added.</em>
		{% endfor %}
	</ul>
	<br>
	<h2>Add a user</h2>
	<form action="{{ url_for('admin') }}" method="POST">
		<table>
			<tr>
				<td>Username:</td>
				<td><input type="text" name="username"></td>
			</tr>
			<tr>
				<td>First name:</td>
				<td><input type="text" name="first_name"></td>
			</tr>
			<tr>
				<td>Last name:</td>
				<td><input type="text" name="last_name"></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="text" name="email"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td>Admin user?:</td>
				<td><input type="checkbox" name="superuser"></td>
			</tr>
			<tr>
				<td><input type="submit" value="Add user"></td>
			</tr>
		</table>
	</form>
{% endblock %}