{% extends "annotator.html" %}
{% block title %}Annotate{% endblock %}
{% block body %}
    <h2>Annotate threads</h2>
    <form action="{{ url_for('annotate') }}" method="POST">
        <h3>Which coding assignment?</h3>
        <select class="assigned" name="assn">
        {% for assn in assigned %}
            <option value="{{assn.assn_id}}">[{{assn.label}}]: {{titleof(assn.thread_id)}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Select thread">
    </form>
    {% block posts %}{% endblock %}
{% endblock %}
