{% extends "annotator.html" %}
{% block title %}Assign{% endblock %}
{% block body %}
    <h2>Assign users to task: {{task.title}}</h2>
    <form action="{{ url_for('assign_task', task_id=task.task_id) }}" method="POST">
        <table class="threads users" border=1>
            <tr>
                <td><center><b>Thread</b></center></td>
                {% for user in users %}
                    <td><em>{{user.first_name}} {{user.last_name}}</em></td>
                {% endfor %}
            </tr>
            {% for thread in threads %}
            <tr>
                <td>{{thread.thread_id}}: {{ thread.title }}</td>
                {% for user in users %}
                    {% if not assigned(thread.thread_id, user.id, task.task_id) %}
                        <td><center><input type="checkbox" name="{{ {'thread':thread.thread_id, 'user':user.id, 'next':thread.first_post_id} }}"></center></td>
                    {% else %}
                        <td><center>{{ done(thread.thread_id, user.id, task.task_id) }}</center></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <input type="submit" value="Update assignments">
    </form>
{% endblock %}
