{% extends "annotator.html" %}
{% block title %}Assign{% endblock %}
{% block body %}
	<h2>Thread assigner</h2>
	
	<form action="{{ url_for('assign') }}" method="POST">
		<table class="threads users" border=1> <!-- Does the class need to be set to the variable name for binding, or is this stylistic?-->
			<tr>
				<td> </td>
				{% for user in users %}
					<td>{{user.first_name}} {{user.last_name}}</td>
				{% endfor %}
			</tr>
			{% for thread in threads %}
			<tr>
				<td>{% ## THREAD NAME %}</td>
				{% ## for user in users %}
					<td><input type="checkbox" name="{{ (thread.mongoid, user.id) }}" value="{{ assigned(thread.mongoid, user.id) }}"></td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
		<input type="submit" value="Update assignments">
	</form>
{% endblock %}