{% extends "annotator.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h2>Menu</h2>
    <ul>
    {% if g.user %}
        {% if g.user['superuser'] %}
        <li><em>Administration</em></li>
        <ul>
            <li><a href="{{ url_for('admin') }}">Register users</a></li>
            <li><a href="{{ url_for('assign') }}">Assign users to threads</a></li>
            <li><a href="{{ url_for('tables', tablename='codes')}}">View DB tables</a></li>
        </ul>
        {% endif %}
        <li><a href="{{ url_for('userpage', username=g.user['username']) }}">View assigned threads</a></li>
        <li><a href="{{ url_for('annotate') }}">Annotate forum posts</a></li>
        <li><a href="{{ url_for('logout') }}">Log out</a></li>
    {% else %}
        <li><a href="{{ url_for('login') }}">Log in</a></li>
    {% endif %}
    </ul>
{% endblock %}
