{% extends "annotator.html" %}
{% block title %}{{threadid}}{% endblock %}
{% block body %}
    <h2>{{threadid}}</h2>

    <ol>
    {% for post in posts %}
        <li class="post">
            <em>{{post.mongoid}} by {{post.author_username}}</em>
            <br>
            {{post.body}}
        </li>
    {% endfor %}
    </ol>

    <div id="annotatethread">
        <div class="post">
            <b>Now coding:</b> <em>{{next.mongoid}} by {{next.author_username}}</em>
            <br><br>
            {{next.body}}
        </div>
        <!--
        {% if comments %}
        <div class="commentbox">
            <h3>Your comments on this post:</h3>
            <ol>
                {% for comment in comments %}
                    <li>{{comment.comment}}</li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}
        -->
    </div>

    <form action="{{ url_for('annotate_thread', threadid=threadid) }}" method="POST">
        <h3>Code for Post:</h3>
        <input type="text" name="codevalue"><br>
        <h3>Additional Comments:</h3>
        <input type="text" name="comment">
        <input type="hidden" value="{{next.mongoid}}" name="postid">
        <br>
        <input type="submit" value="Add comment" name="code">
        <br><br>
        <!--<input type="submit" value="Next post" name="next">-->
        <input type="submit" value="Previous post" name="prev">
    </form>
    <br>
    <a href="{{ url_for('annotate') }}">Annotate a different thread...</a>
{% endblock %}
