{% extends "annotator.html" %}
{% block title %}Table '{{tablename}}'{% endblock %}
{% block body %}
    <h2>View tables</h2>
    <h3>{{tablename}}</h3>
    <table class="table header" border=1>
        <tr>
            {% for label in header %}
                <td><em>{{label}}</em></td>
            {% endfor %}
        </tr>
        {% for row in table %}
        <tr>
            {% for datum in row %}
                {% if datum == 'body' %}
                    <td title='{{datum}}'>{{row[datum].decode(encoding='UTF-8', errors='ignore')}}</td>
                {% else %}
                    <td title='{{datum}}'>{{row[datum]}}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <h3>View other tables...</h3>
    <ul>
        <li><a href="{{ url_for('tables', tablename='codes')}}">View user codes</a></li>
        <li><a href="{{ url_for('tables', tablename='threads')}}">View forum threads</a></li>
        <li><a href="{{ url_for('tables', tablename='assignments')}}">View coding assignments</a></li>
        <li><a href="{{ url_for('tables', tablename='users')}}">View user accounts</a></li>
        <li><a href="{{ url_for('tables', tablename='projects')}}">View projects</a></li>
        <li><a href="{{ url_for('tables', tablename='tasks')}}">View coding tasks</a></li>
    </ul>
{% endblock %}
