{% extends "annotator.html" %}
{% block title %}{{username}}{% endblock %}
{% block body %}
    <h2>Coding progress for: {{username}}</h2>
    <table class="assignments">
        <tr>
            <td><u>Task</u></td>
            <td><u>Thread</u></td>
            <td><u>Progress</u></td>
        </tr>
    {% for assn in assignments %}
        <tr>
            <td>{{assn.label}}</td>
            <td>{{titleof(assn.thread_id)}}</td>
            <td>({{ done(assn.thread_id, assn.user_id, assn.task_id)}})</td>
        </tr>
    {% endfor %}
    </table>
    {% if not assignments %}
        <em>No assignments yet!</em>
    {% endif %}
{% endblock %}
